.list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.list__items {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-gap: 10px;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    word-break: break-word;
}


.list__item--done {
    word-break: break-word;
    text-decoration: line-through;
}

.list__button {
    width: 30px;
    height: 30px;
    background-color: green;
    color:white;
    border: none;
}

.list__button:hover {
    background-color: rgb(0, 157, 0);
}

.list__button:active {
    background-color: rgb(0, 186, 0);
}

.list__button--remove {
    background-color: rgb(212, 19, 19);
}

.list__button--remove:hover {
    background-color: rgb(230, 11, 11);
}

.list__button--remove:active {
    background-color: rgb(255, 0, 0);
}